---
layout: index
---
<div class="main-content mdl-grid">
  {% for post in paginator.posts %}
    <div class="post mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card__media mdl-color-text--grey-50">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        {{ post.content | truncate:75}}
        <p><a class="mdl-button mdl-button--accent" href="{{ post.url | replace_first: '/', '' | prepend: site.baseurl | prepend: site.url }}">阅读全文</a></p>
      </div>
      <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="david-avatar"></div>
        <div>
          <strong>{{ post.author }}</strong>
          <span class="subheader">
          {% assign d = post.date | date: "%d" | plus:'0' %}
          {{ post.date | date: "%B" }}
          {% case d %}
          {% when 1 or 21 or 31 %}{{ d }}st,
          {% when 2 or 22 %}{{ d }}nd,
          {% when 3 or 23 %}{{ d }}rd,
          {% else %}{{ d }}th,
          {% endcase %}
          {{ post.date | date: "%Y" }}
          </span>
        </div>

      </div>
    </div>
  {% endfor %}

  <div class="pagination-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="pagination-nav__button" href="{{ site.baseurl }}{{ prepend: site.url}}">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--red mdl-color-text--white" role="presentation">
              <i class="material-icons">arrow_back</i>
            </button>
          上一页
          </a>
        {% else %}
          <a class="pagination-nav__button" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | prepend: site.baseurl | prepend: site.url}}">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey mdl-color-text--white" role="presentation">
              <i class="material-icons">arrow_back</i>
            </button>
          上一页
          </a>
        {% endif %}
      {% else %}

      {% endif %}

<!--     <div class="mdl-cell mdl-cell--4-col indicator subheader">
      第 {{ paginator.page }} / {{ paginator.total_pages }} 页
    </div> -->
      <div class="section-spacer"></div>

      {% if paginator.next_page %}
        <a class="pagination-nav__button" href="{{ site.paginate_path | replace: ':num', paginator.next_page | prepend: site.baseurl | prepend: site.url}}">
        下一页
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--red mdl-color-text--white" role="presentation">
            <i class="material-icons">arrow_forward</i>
          </button>
        </a>
        {% else %}
      {% endif %}

  </div>
</div>