 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于我</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> 致力于成为一名全栈式的用户体验设计师。爱技术，爱分享，有 Geek 精神，坚信设计是一个过程，而不仅仅是设计图。用 Quartz Composer 进行交互和动效的设计，也用 FramerJS 做小 Demo。</p>
                </div>
                <div class="col-lg-4">
                    <p>崇尚「敏捷开发」，热爱新奇的事物。喜欢通过代码实现设计想法。因此自学过一阵 Ruby On Rails，为了实现设计，也搞搞 iOS 开发，用 Xcode 制作可交互的原型。</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> 下载我的 PPT
                    </a>
                </div>
            </div>
        </div>
    </section>
