<footer class="blog-footer mdl-mini-footer">
  <ul class="mdl-mini-footer__link-list">
    <li class="mdl-mini-footer--social-btn"><a href="www.idavichen.com" class="social-btn social-btn__facebook" role="button" title="facebook"></a></li>
    <li class="mdl-mini-footer--social-btn"><a href="www.idavichen.com" class="social-btn social-btn__github" role="button" title="github"></a></li>
    <li class="mdl-mini-footer--social-btn"><a href="www.idavichen.com" class="social-btn social-btn__zhihu" role="button" title="zhihu"></a></li>
  </ul>
  <h5>反对人云亦云，拒绝同流合污</h5>
</footer>