<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>一个美妙的开始</h3>
                <h1>We Design Things For People.</h1>
                <h5>暂时还没有响亮的口号，先看看我们到底能干什么吧。</h5>
                <h5>让我们试试.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->