<div id="blog-info" class="inner mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <div class="blog-description ">
      <h1 class="blog-title">大蔚陈的博客</h1>
      <h2 class="slogan">产品、设计、编程</h2>
    </div>
  </div>
  <div class="profile mdl-cell mdl-cell--3-col mdl-cell--hide-phone mdl-cell--hide-tablet">
    <div class="info-container">
      <img src="/assets/img/avatar.png">
    </div>
    <h3>大蔚陈</h3>
    <h5>Product Manager & UX Designer</h5>
    <div class="divider"></div>
    <div class="social">
      <ul>
        <li>
          <a class="btn-floating" href="https://www.facebook.com/idavidchen" target="_blank"><img src="/assets/img/facebook.png"></a>
        </li>
        <li>
          <a class="btn-floating" href="https://github.com/infodavid" target="_blank"><img src="/assets/img/github.png"></a>
        </li>
        <li>
          <a class="btn-floating" href="https://linkdedin" target="_blank"><img src="/assets/img/linkedin.png"></a>
        </li>
        <li>
          <a class="btn-floating" href="http://www.zhihu.com/people/idavidchen"><img src="/assets/img/zhihu.png"></a>
        </li>
      </ul>
    </div>
  </div>
  <a href="#screens">
    <button class="more-fab mdl-button mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">expand_more</i></button>
  </a>
</div> 