---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>项目详细</h4>
            <div class="hline"></div>
            <p><b>日期:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>作者:</b> {{ page.author }}</p>
            <p><b>分类:</b> {{ page.categories }}</p>
            <p><b>标签:</b> Flat, UI, Development</p>
            <p><b>客户:</b> {{ page.client }}</p>
            <p><b>网址:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include portfolio.html title="相关作品" limit=5 %}